@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(#272a2c, rgb(24, 26, 27), rgb(36, 39, 41));
  background-color: initial;
  font-family: "Monserrat", sans-serif;
  min-height: 100vh;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px;
}

.text-center {
  text-align: center;
  color: rgb(209, 205, 199);;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  position: relative;
  max-width: 90vw;
  width: 800px;
}

.or {
  z-index: 1;
  color: #ff416c;
}
.container .or {
  background-color: rgb(24, 26, 27);
  border-radius: 50%;
  display: flex;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -140%);
  padding: 10px;
  margin: 0;
  height: 50px;
  width: 50px;
}

.container .name {
  margin: 10px 0 20px;
  color: rgb(209, 205, 199);;
}

.img-container {
  background-color: rgb(24, 26, 27);
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
  border-radius: 5px;
  padding: 0 0 10px;
  margin: 0 3px;
  height: 450px;
  width: 50%;
}

.img-container img {
  height: 75%;
  width: 100%;
  object-fit: cover;
}

.img-container button {
  margin: 0;
}

.choose-btn {
  background-color: rgb(24, 26, 27);
  border-radius: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px !important;
  font-style: italic;
  font-weight: bold !important;
  letter-spacing: 0.5px !important;
}

h3 {
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  h1 {
    margin: 10px 0;
    font-weight: 500;
  }

  .container {
    margin: 0;
  }

  .img-container {
    height: 350px;
  }

  .img-container .name {
    margin: 5px 0 10px;
  }
}
